@mixin FlexCenter($direction, $background) {
  //   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background-color: $background;
}
@mixin FlexBetween($direction, $background) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
  background-color: $background;
}
